.shield-icon {
    font-size: 80px;
    margin-top: 40px;
    width: 80px;  /* Adjust width as needed */
    height: 80px; /* Adjust height as needed */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the entire area */
}

h1 {
    margin-top: 0px ;
}

