<app-header  buttonBack="/login" title="Pagos"></app-header>

<ion-content [fullscreen]="true">
 <ion-list>
  <ion-item-sliding class="p-item" *ngFor="let p of pagos" >
    <ion-item>
      <ion-label>
        <div class="name">{{p.productName}}</div>
        <div class="data">
          <strong>Precio:</strong> {{p.amount}}                  
        </div>
        <ion-chip color="primary" mode="ios" outline="true">
          <ion-label>Fecha de Pago: {{ formatTimestamp(p.date_created) }}.</ion-label>
        </ion-chip>        
      </ion-label>
    </ion-item>
    <ion-item-options side="start" (click)="onClickView(p)">
      <ion-icon class="option-btn" name="create-outline"></ion-icon>
    </ion-item-options>
 
  </ion-item-sliding>
 </ion-list>
</ion-content>
